main {
  display: flex;
  flex-direction: column;
}

#drums {
  background-image: url(img/FOLK-Drum-Kits.jpg);
  background-repeat: no-repeat;
  width: 90vw;
  height: 90vh;
  position: relative;
  margin-left: 7%;
}

kbd {
  border: 2px solid #121212e7;
  border-radius: 5px;
  box-shadow: #858484e3 -5px 3px 1px 8px;
  padding: 10px 13px;
  background: linear-gradient(0.25turn, #cecece, #f3f3f3, #cecece);
  user-select: none;
}

.btn {
  cursor: crosshair;
}

#ride {
  position: absolute;
  top: 50px;
  left: 230px;
}

#hi-hat {
  position: absolute;
  top: 65px;
  left: 430px;
}

#tom {
  position: absolute;
  top: 150px;
  left: 500px;
}

#tom2 {
  position: absolute;
  top: 150px;
  left: 600px;
}

#hi-hat2 {
  position: absolute;
  top: 60px;
  left: 666px;
}

#ride2 {
  position: absolute;
  top: 65px;
  left: 870px;
}

#tom3 {
  position: absolute;
  top: 335px;
  left: 190px;
}

#tom4 {
  position: absolute;
  top: 350px;
  left: 266px;
}

#snare {
  position: absolute;
  top: 350px;
  left: 366px;
}

#snare2 {
  position: absolute;
  top: 370px;
  left: 520px;
}

#snare3 {
  position: absolute;
  top: 370px;
  left: 666px;
}

#tom5 {
  position: absolute;
  top: 330px;
  left: 1030px;
}

#kick {
  position: absolute;
  top: 633px;
  left: 140px;
}

#kick2 {
  position: absolute;
  top: 666px;
  left: 415px;
}

#kick3 {
  position: absolute;
  top: 666px;
  left: 750px;
}

#kick4 {
  position: absolute;
  top: 633px;
  left: 1001px;
}
